// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.tiny-aes-view {
  .password-input-row {
    .password-label {
      float: left;
      text-align: right;
      width: 100px;
      margin-right: 5px;
      margin-top: 3px;
    }

    .password-input {
      width: 420px;
    }
  }
}
